<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practicas.dss.bolivarfrancisco_p5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.practicas.dss.bolivarfrancisco_p5.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.practicas.dss.bolivarfrancisco_p5.GameActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="com.practicas.dss.bolivarfrancisco_p5.ResultsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_results" >
        </activity>

    </application>

</manifest>
