h1 {
  font-size: 24px !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 14px !important;
}

h4 {
  font-size: 12px !important;
}

blockquote p {
  font-size: 14px !important;
}

p {
  font-size: 11px !important;
}

div {
  font-size: 8px !important;
}
